body{
    margin:0;
    padding-top:800px;
    text-align:center;
}
.profile{
    border-radius:50%;
    width: 25%;
    height: 55%;
}
#Welcome{
    position:absolute;
    bottom:0;
    background:linear-gradient(#FFD580 0%, #CC5500 100%);
    display:table;
    width: 100%;
    height: 100%;
}
h1{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}
#Name{
    font-size: 50px;
    font-family: 'Cinzel Decorative', cursive;
}
h2{
    font-size: 30px;
    font-weight: 300;
     font-family:monospace ;
}
#BIO{
    font-family: cursive;
    padding: 50px;
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
.tim{
    display: table-cell;
    vertical-align: middle;

}
.menu{
    list-style:none ;
    position: fixed;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    background-color: burlywood;
    width: 100%;
    margin-top: 0px;
}
.links{
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
    color: rgb(248, 2, 236) !important;
    display: inline;
}
html{
    scroll-behavior: smooth;
}
.links:hover{
    font-size: 25px;
    text-decoration: underline;
    color: rgb(8, 221, 8);
}
#writtings a{
    text-decoration: underline !important;
    color: rgb(88, 4, 4);
}
#contact{
    background-color: gray;

}
.Contacts_1 h3{
    display: inline;
    
}